*{
    margin: 0px;
}

.Navlogo{
    width: 190px;
}

nav{
    background-color: #0d025e;
    display: flex;
    flex-direction: row;
    color: #ffd700;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    font-size: 15px;
    margin-bottom: 0p48
}

.capitalDlogo{
    position: absolute;
    top: 52px;
    right: 31px;
    width: 112px;
    height: 112px;
}

.capitalDlogo:hover{
    width: 224px;
    height: 224px;
}

.dinukaLogo{
    position: absolute;
    top: 73px;
    left: 20px;
    width: 85px;
    height: 85px;
}

.dinukaLogo:hover{
    width: 170px;
    height: 170px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.download_Resume{
    font-size: 16px;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    background-color: rgb(36, 36, 216);
    color: rgb(139, 177, 207);
}

.download_Resume:hover{
    font-size: 17px;
    font-weight: bolder;
    background-color: #ffd700;
    color: black;
}

.Details{
    text-align: center;
    justify-content: center;
    height: 1000px;
    background-color: black;
    padding: 4rem 3rem;
    color: #FFFFFF;
}

.hello{
    font-size: 60px;
}

.hello:hover{
    color: #e00b0b;
}

.DetailsH:hover{
    color: #adf30b;
}

.DinukaPhoto:hover{
    height: 550px;
    width: 550px;
}

.caption{
    font-size: 22px;
    color: white;
    opacity: 35%;
    padding: 1rem 12%;  
    gap: 0;
}

nav ul li a {
    color: #ffd700;
}

nav ul li a:hover {
    background-color: #e00b0b;
    padding: 10px;
  }
